body::before{
    content: '';
  position: fixed;
  color: white;
  height: 100%;
  width: 100%;
  z-index: -1;
background: var(--color-darkblue);
background-image: url("/ray/img/amor-coracoes-wallpaper.jpg");
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container{

color: white;
}

/* Classes globais */

.margin{
    padding-top: 100px;
    padding-bottom: 50px;
}

/* classes globais */

/* botões sim e não */
.color1{
    background-color: #00FF00;
}
.color1:hover{
    background-color: #04B404;
}
.color2{
    background-color: #FF0000;
}
.color2:hover{
    background-color: #DF0101;
}

/* botões sim e não */
