.footer p{
    font-family: 'Lobster Two', cursive;  
    text-align: end;
    color: white;
}
.color{
    font-family: 'Lobster Two', cursive;
    background-color: #F5A9D0;
    font-size: 20px;
    color: black;
}
body{
    content: '';
  position: relative;
  color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
background: var(--color-darkblue);
background-image: url("http://bestanimations.com/Signs&Shapes/Hearts/manyhearts/small-red-falling-hearts-pattern-animated-gif-2.gif");
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.margin{
    padding-top: 30px;
   
}
.margin-slide{
    margin-top: 50px;
}
.margin2018{
    padding-top: 30px;
   padding-bottom: 30px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/* nav class */
.nav-link{
    color:black;
}



/* end nav bar */

h3{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}
p, h5{
    font-family: 'Abel', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-top: 15px;
}
p{
    text-align: left;
}

/* primeiro container */



.gif{
    border-radius: 50%;
    border: black;
    border-style: solid;
}

/* primeiro container */



/* segundo container */


/* segundo container */
