
main{
    content: '';
  position: relative;
  color: black;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
background: var(--color-darkblue);
background-image: url("https://previews.123rf.com/images/portarefortuna/portarefortuna1212/portarefortuna121200029/16968743-love-seamless-pattern-white-hearts-and-swirls-on-pink-background.jpg");
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.margin{
    padding-top: 30px;
   
}
.margin-slide{
    margin-top: 50px;
}
.margin2018{
    padding-top: 30px;
   padding-bottom: 30px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/* nav class */
.nav-link{
    color:black;
}

.color{
    font-family: 'Lobster', cursive;
    background-color: #F5A9D0;
    font-size: 20px;
}
/* end nav bar */

h3, nav{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
p, h5{
    font-family: 'Abel', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-top: 15px;
}

/* primeiro container */
#about_us{
    background-color: rgba(224, 224, 248, 0.6);
    
}


.gif{
    border-radius: 50%;
    border: black;
    border-style: solid;
}

/* primeiro container */

#momentos{
    background-color: rgba(224, 224, 248, 0.6);
}

/* segundo container */
#momentos2018{
    background-color: rgba(224, 224, 248, 0.6);
}

/* segundo container */